.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(115, 147, 151, 0.2);
  font-family: Arial, sans-serif;
  border-radius: 10%;
  color: white;
}

#sign-up-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3%;
  margin-top: 20px;
}

body {
  background-image: url("peakpx.jpg");
}

input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(94, 94, 94, 0.2);
}
